<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IsCreatedNewDb" value="false" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <!--<connectionStrings>    
    <add name="DefaultConnection"
         providerName="System.Data.SqlClient"
         connectionString="Server=.\SQLEXPRESS;Database=AdvertisementDB;Integrated Security=false;
         Persist Security Info=False;User ID=sa;Password=123456;Connect Timeout=120;MultipleActiveResultSets=True;" />
  </connectionStrings>-->
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="BTL.Services.AppAuthentication.Service.AppAuthenticationService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" contract="BTL.Services.AppAuthentication.Contract.IAppAuthenticationService" binding="wsHttpBinding" bindingConfiguration="CustomBinding" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding" maxBufferPoolSize="655360" maxReceivedMessageSize="655360">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="AppAuthenticationService" address="http://localhost:1212/AppAuthentication/AppAuthenticationService.svc" binding="basicHttpBinding" contract="BTL.Services.AppAuthentication.Contract.IAppAuthenticationService, BTL.Services.AppAuthentication.Contract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="SdrConfigExample.e2e" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>